<%inherit file='base.html' />
<%block name='title'>KylinOJ</%block>

<div class="jumbotron">
  <h1 class="yahei">${e|h}</h1>
  <p>这是一个非常重大的错误。</p>
  <p>
    <button onclick="history.go(-1);" class="btn btn-danger btn-lg" role="button">
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回
    </button>
    &nbsp;&nbsp;
    <button onclick="location.reload();" class="btn btn-danger btn-lg" role="button">
      <span class="glyphicon glyphicon-refresh"></span>&nbsp;刷新
    </button>
  </p>
</div>