<%inherit file='base.html' />
<%block name='title'>KylinOJ</%block>

<script>
  $(function(){
    var username=$('#username');
    var magic_btn=$('#magic-btn');
    var lastuser=null;
    username.on('blur',function(){
      if(username.val().trim())
        $.post('/login',{username:username.val()},function(data) {
          if (data.length<20) {
            if(data==='register') {
              $('#magic-title').text('欢迎加入 KylinOJ');
              magic_btn.text('注册').removeClass('btn-default btn-primary').addClass('btn-success');
            } else {
              $('#magic-title').text('欢迎回来，'+username.val());
              magic_btn.text('登录').removeClass('btn-default btn-success').addClass('btn-primary');
            }
            if(lastuser!==username.val())
              magic_btn.animate({marginLeft: '20px'},50,function() {
                $(this).animate({marginLeft: '0'},50);
              });
            lastuser=username.val();
          }
        });
      else {
        $('#magic-title').text('欢迎新老用户');
        $('#magic-btn').text('登录 或 注册').removeClass('btn-primary').addClass('btn-default');
      }
    })
  });
</script>

<div class="panel panel-default"><div class="panel-body">
  <div class="page-header yahei"><h1 id="magic-title">
    欢迎新老用户
  </h1></div>
  <form action="/login" method="post" class="col-sm-6 col-sm-offset-3">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" name="username" id="username" required="required" class="form-control" autofocus="autofocus" placeholder="用户名">
    </div>
    <br />
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-tree-conifer"></span></span>
      <input type="password" name="password" required="required" class="form-control" placeholder="密码">
    </div>
    <br />
    <button type="submit" id="magic-btn" class="btn btn-default full-width">登录 或 注册</button>
  </form>
</div>